<html>
    <head>
        <title>Site da Nathaly</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Meu amor pela Nathaly</a></h1>
        </div>

        <div>
            <h2><a href="">É por você que faço tudo</a></h2>
            <p>É você em quem eu penso a todo momento (com essa minha mente turbulenta)</p>
            <p>Todos os minutos e segundos,</p>
            <p>É você que está presente ao meu lado (mesmo que não seja fisicamente, a quimica me conquista)</p>
            <p>Em todos os meus sonhos,</p>
            <p>É você que me faz acordar e pensar em vc (ver sua msg de bom dia e me inspirar)</p>
            <p>Todos as manhãs,</p>
            <p>É você em quem eu sempre penso (como agora, e a todo momento))</p>
            <p>Antes de dormir, (com suas msg de boa noite) </p>
            <p>É para você que eu dedico (meus projetos e minhas pesquisas)</p>
            <p>Cada dia da minha vida,</p>
            <p>É por você que meu coração bate ( fortemente bate)</p>
            <p>A toda hora,</p>
            <p>É por você que sou obrigado a ser feliz, (por ter essa pessoa linda comigo)</p>
            <p>É a lembrança do seu abraço</p>
            <p>Que me aconchega quando preciso, (com esse abraço gostoso que voce tem) </p>
            <p>É o desejo de seu beijo</p>
            <p>Que deixa minha mente embaralhada, (mais do que ela já é) </p>
            <p>É a esperança de ver você</p>
            <p>Que faz minhas pernas bambearem, ( é uma troca de favores) </p>
            <p>É lembrando dos seus olhos e do seu sorriso</p>
            <p>Que eu posso sorrir,</p>
            <p>É lembrando da sua voz</p>
            <p>Que eu posso dormir suavemente ouvindo-a.</p>
                
            <p>Você está presente em todos (momentos, sendo felizes ou triste)</p>
            <p>Os momentos da minha vida;</p>
            <p>É a sua presença que eu sinto comigo. (Meu grande Amor) </p>
            <p>Não há muito mais a dizer,</p>
            <p>Simplesmente eu amo você! S2 </p>
        </div>
    </body>
</html>