<html>
    <head>
        <title>Site da Nathaly</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Meu amor pela Nathaly</a></h1>
        </div>

        <div>
            <h2><a href="">É por você que faço tudo</a></h2>
            <p>É você em quem eu penso</p>
            <p>Todos os minutos e segundos,</p>
            <p>É você que está presente</p>
            <p>Em todos os meus sonhos,</p>
            <p>É você que me faz acordar</p>
            <p>Todos as manhãs,</p>
            <p>É você em quem eu sempre penso</p>
            <p>Antes de dormir,</p>
            <p>É para você que eu dedico</p>
            <p>Cada dia da minha vida,</p>
            <p>É por você que meu coração bate</p>
            <p>A toda hora,</p>
            <p>É por você que sou obrigado a ser feliz,</p>
            <p>É a lembrança do seu abraço</p>
            <p>Que me aconchega quando preciso,</p>
            <p>É o desejo de seu beijo</p>
            <p>Que deixa minha mente embaralhada,</p>
            <p>É a esperança de ver você</p>
            <p>Que faz minhas pernas bambearem,</p>
            <p>É lembrando dos seus olhos e do seu sorriso</p>
            <p>Que eu posso sorrir,</p>
            <p>É lembrando da sua voz</p>
            <p>Que eu posso dormir suavemente ouvindo-a.</p>
                
            <p>Você está presente em todos</p>
            <p>Os momentos da minha vida;</p>
            <p>É a sua presença que eu sinto comigo.</p>
            <p>Não há muito mais a dizer,</p>
            <p>Simplesmente eu amo você!</p>
        </div>
    </body>
</html>